<div class="post-header">
	<div class="meta">
		<div class="date">
			<a href="{{ .RelPermalink }}" class="u-url"><time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="day dt-published">{{ dateFormat "02" .Date }}</time></a>
			<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
		</div>
	</div>
	<div class="matter">
		{{ if .Title }}
			<h4 class="title small">
				<a href="{{ .RelPermalink }}" class="p-name u-url">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
			</h4>
		{{ end }}
		<span class="description e-content">
			{{ if .Title }}
				{{ if isset .Params "description" }}
					{{ .Description }}
				{{ else if gt (countrunes (.Content | plainify)) 120 }}
					{{ slicestr (.Content | plainify) 0 120 }}...
				{{ else }}
					{{ .Content | plainify }}
				{{ end }}
			{{ else }}
				{{ .Content }}
			{{ end }}
		</span>
	</div>
</div>
